# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [89]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [28]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [1]:
import hashlib
def generar_hash(texto):

    hash_obj = hashlib.sha256()
    hash_obj.update(texto.encode('utf-8'))
    hash_resultado = hash_obj.hexdigest()

    return hash_resultado

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')
df.dropna(inplace=True)
df_codigo_pais = df["Código de país"]
lista_de_hashs = [generar_hash(i) for i in df_codigo_pais]

df["Clave_Hash"] = lista_de_hashs
print(df.tail())
print(df.head())

      Código de país Nombre del país               Región   Año  CO2 (kt)  \
11122            ZWE        Zimbabue  África subsahariana  2007  9.732,22
11123            ZWE        Zimbabue  África subsahariana  2008  7.682,37
11124            ZWE        Zimbabue  África subsahariana  2009  8.239,75
11125            ZWE        Zimbabue  África subsahariana  2010  9.028,15
11126            ZWE        Zimbabue  África subsahariana  2011  9.860,56

       CO2 per cápita (toneladas métricas)  \
11122                             0.731867
11123                             0.569255
11124                             0.600521
11125                             0.646073
11126                             0.691698

                                              Clave_Hash
11122  1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...
11123  1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...
11124  1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...
11125  1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...
11126  1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...
   Código de país Nombre del país                   Región   Año  CO2 (kt)  \
26            ABW           Aruba  América Latina y Caribe  1986   179,683
27            ABW           Aruba  América Latina y Caribe  1987   447,374
28            ABW           Aruba  América Latina y Caribe  1988   612,389
29            ABW           Aruba  América Latina y Caribe  1989   649,059
30            ABW           Aruba  América Latina y Caribe  1990  1.840,83

    CO2 per cápita (toneladas métricas)  \
26                             2.868319
27                             7.234964
28                            10.026508
29                            10.634733
30                            29.620165

                                           Clave_Hash
26  1b0109af3153501f2514049310574e6d142c6f92545d5e...
27  1b0109af3153501f2514049310574e6d142c6f92545d5e...
28  1b0109af3153501f2514049310574e6d142c6f92545d5e...
29  1b0109af3153501f2514049310574e6d142c6f92545d5e...
30  1b0109af3153501f2514049310574e6d142c6f92545d5e...

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [91]:
"""
mi versión
"""
new_df = df.copy()
new_df.drop_duplicates(subset = ["Código de país","Región","Nombre del país", "Clave_Hash" ],inplace=True)
new_df.drop(["Año","CO2 (kt)","CO2 per cápita (toneladas métricas)"],axis = 1, inplace=True)
new_df.head()

    Código de país Nombre del país                   Región  Clave_Hash
26             ABW           Aruba  América Latina y Caribe         910
87             AND         Andorra    Europa y Asia Central         870
104            AFG      Afganistán              Sur de Asia         858
156            AGO          Angola      África subsahariana         893
208            ALB         Albania    Europa y Asia Central         856

In [92]:
df.drop(["Código de país","Región","Nombre del país", "Clave_Hash" ], axis = 1, inplace= True)
df.head()

     Año  CO2 (kt)  CO2 per cápita (toneladas métricas)
26  1986   179,683                             2.868319
27  1987   447,374                             7.234964
28  1988   612,389                            10.026508
29  1989   649,059                            10.634733
30  1990  1.840,83                            29.620165

In [ ]:
"""
versión del profe de la primera parte del ejercicio en dos lineas
"""
df_valores_unicos = df[['Clave_hash','cod_pais','nom_pais','Región']].drop_duplicates()
df.drop(['cod_pais', 'nom_pais', 'Región'], inplace = True, axis = 1)